// app global css in SCSS form

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* position: relative; */
  /* fix bug highlighting backqround events in fullcalendar */

  /* font-weight: 200; */
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 17px;
  letter-spacing: 0.05em;
  /* color: #181818; */
}
.bg-brand {
  background-color: #567da0;
}

.text-brand {
  color: #395875;
}

h6,
h4 {
  margin: 1.2em 0;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    width: calc(100% - 60px);
  }
}
